name: STRIX

on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
    - uses: actions/checkout@v4
    
    - name: Install strix
      run: |
        python -m pip install --upgrade pip
        pip install strix-agent

    - name: Run Strix
      env:
        STRIX_LLM: ${{ secrets.STRIX_LLM }}
        LLM_API_KEY: ${{ secrets.LLM_API_KEY }}
      run: strix --target ./
